<div class="index">
  <div class="page-header">
    <h1>PleasePet<br><small>Pet cute pets online!</small></h1>
  </div>

  <div class="row">
    <div class="col-md-offset-3 col-md-3">
      <%= button_to 'Sign up', '/pets/sign_up', class: 'btn btn-default btn-lg btn-primary', method: :get %>
    </div>
    <div class="col-md-3">
      <%= button_to 'Log in', '/pets/sign_in', class: 'btn btn-default btn-lg btn-success' %>
    </div>
  </div>
  <div class="row" style="padding-top: 20px;">
    <div class="col-md-offset-5 col-md-2">
      <a class="btn btn-default btn-lg btn-warning" href="mailto:pleasepet@effy.is">
        Contact
      </a>
    </div>
  </div>
  <hr>
  <div class="row" id="stats">
    <div class="col-md-2 col-md-offset-4">
      <h2 id="total_pets"><%= @stats[:total_pets] %></h2>
      <h4>Pets signed up</h4>
    </div>
    <div class="col-md-2">
      <h2 id="total_pettings"><%= @stats[:total_pettings] %></h2>
      <h4>Pettings performed</h4>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
    <h4>Status</h4>
    <p>New server, slowly improving things. Changes to structure have increased performance.<br><br>
      New features include option to disable anonymous pettings, and option to show your recent petters on your page.
      <br><br>
      Rate limits now in place for petting faster than a human should be capable of.
      <br><br>
      Site is still hacky and held together with duct-tape. <a href="https://github.com/ineffyble/pleasepet">Help change that?</a>
    </p>
    <p><a href="https://twitter.com/PleasePet">Follow on Twitter for more updates </a></p>
  </div>
</div>
</div>
